PUBLIC_SUPABASE_URL=https://ynbkfybowzmuqlgheqbk.supabase.co
PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InluYmtmeWJvd3ptdXFsZ2hlcWJrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzAxOTc4OTEsImV4cCI6MjA4NTc3Mzg5MX0.vsvYNo7hPowmyRzFvDohhuz8kTAzhcP_EYp17V2hFpQ